@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-2xl;
      margin-bottom: .5rem
    }
    h2 {
      @apply text-xl;
      margin-top: .5rem;
      margin-bottom: .5rem
    }
    h3 {
      @apply text-lg;
      margin-top: .5rem;
      margin-bottom: .5rem
      }
    p {
        margin-bottom: 1rem;
        max-width: 750px;
    }
    a {
        color: hsl(225, 92%, 39%);
    }
  }